{% load custom_tags %}
<div class="nav-group">
    <button
        type="button"
        class="nav-group-trigger {% nav_group_class request '/payments/' '/suppliers/' %}"
        @click="toggleGroup('payments')"
        :aria-expanded="isOpen('payments')"
    >
        <span class="nav-group-leading">
            <span class="nav-group-icon-box">
                <i data-lucide="wallet" class="nav-group-main-icon"></i>
            </span>
            <span class="nav-group-title-text">المدفوعات</span>
        </span>
        <i data-lucide="chevron-down" class="nav-group-chevron" :class="isOpen('payments') && 'is-open'"></i>
    </button>

    <div class="nav-group-panel space-y-0.5" x-show="isOpen('payments')" x-cloak>
        {% include "components/nav_sub_item.html" with url="payments:list" icon="file-text" label="طلبات الدفع" path="/payments/" %}
        {% include "components/nav_sub_item.html" with url="suppliers:list" icon="truck" label="الموردين" path="/suppliers/" %}
    </div>
</div>
