{% load custom_tags %}
{% is_admin_user user as user_is_admin %}
<div class="pt-3">
    <div class="nav-group-header {% nav_group_class request '/branches/' '/banks/' '/cost-centers/' '/roles/' '/users/' %}" x-show="sidebarOpen">
        <i data-lucide="settings" class="w-5 h-5 flex-shrink-0"></i>
        <span class="flex-1 text-xs font-bold tracking-wide text-start">تهيئة النظام</span>
    </div>

    <div x-show="sidebarOpen" class="mt-1 mr-2 border-r-2 border-slate-200/80 space-y-0.5">
        {% include "components/nav_sub_item.html" with url="branches:list" icon="building-2" label="الفروع" path="/branches/" %}
        {% include "components/nav_sub_item.html" with url="banks:list" icon="landmark" label="البنوك" path="/banks/" %}
        {% include "components/nav_sub_item.html" with url="cost_centers:list" icon="bar-chart-3" label="مراكز التكلفة" path="/cost-centers/" %}
        {% if user_is_admin %}
            {% include "components/nav_sub_item.html" with url="roles:list" icon="shield" label="الأدوار" path="/roles/" %}
            {% include "components/nav_sub_item.html" with url="users:list" icon="users" label="المستخدمين" path="/users/" %}
        {% endif %}
    </div>

    <div x-show="!sidebarOpen" class="space-y-1">
        <a href="{% url 'branches:list' %}" class="nav-link nav-link-icon {% active_class request '/branches/' %}" title="الفروع">
            <i data-lucide="building-2" class="w-5 h-5"></i>
        </a>
        <a href="{% url 'banks:list' %}" class="nav-link nav-link-icon {% active_class request '/banks/' %}" title="البنوك">
            <i data-lucide="landmark" class="w-5 h-5"></i>
        </a>
        <a href="{% url 'cost_centers:list' %}" class="nav-link nav-link-icon {% active_class request '/cost-centers/' %}" title="مراكز التكلفة">
            <i data-lucide="bar-chart-3" class="w-5 h-5"></i>
        </a>
        {% if user_is_admin %}
            <a href="{% url 'roles:list' %}" class="nav-link nav-link-icon {% active_class request '/roles/' %}" title="الأدوار">
                <i data-lucide="shield" class="w-5 h-5"></i>
            </a>
            <a href="{% url 'users:list' %}" class="nav-link nav-link-icon {% active_class request '/users/' %}" title="المستخدمين">
                <i data-lucide="users" class="w-5 h-5"></i>
            </a>
        {% endif %}
    </div>
</div>
