{% load custom_tags %}
<div class="pt-3">
    <div class="nav-group-header {% nav_group_class request '/contracts/' '/space-rentals/' '/items/' %}" x-show="sidebarOpen">
        <i data-lucide="layers" class="w-5 h-5 flex-shrink-0"></i>
        <span class="flex-1 text-xs font-bold tracking-wide text-start">العقود والإيجارات</span>
    </div>

    <div x-show="sidebarOpen" class="mt-1 mr-2 border-r-2 border-slate-200/80 space-y-0.5">
        {% include "components/nav_sub_item.html" with url="contracts:list" icon="file-signature" label="العقود" path="/contracts/" %}
        {% include "components/nav_sub_item.html" with url="space_rentals:list" icon="store" label="إيجارات المساحات" path="/space-rentals/" %}
        {% include "components/nav_sub_item.html" with url="items:list" icon="package" label="الأصناف" path="/items/" %}
    </div>

    <div x-show="!sidebarOpen" class="space-y-1">
        <a href="{% url 'contracts:list' %}" class="nav-link nav-link-icon {% active_class request '/contracts/' %}" title="العقود">
            <i data-lucide="file-signature" class="w-5 h-5"></i>
        </a>
        <a href="{% url 'space_rentals:list' %}" class="nav-link nav-link-icon {% active_class request '/space-rentals/' %}" title="إيجارات المساحات">
            <i data-lucide="store" class="w-5 h-5"></i>
        </a>
        <a href="{% url 'items:list' %}" class="nav-link nav-link-icon {% active_class request '/items/' %}" title="الأصناف">
            <i data-lucide="package" class="w-5 h-5"></i>
        </a>
    </div>
</div>
