{% load custom_tags %}
<div class="pt-3">
    <div class="nav-group-header {% nav_group_class request '/payments/' '/suppliers/' %}" x-show="sidebarOpen" x-cloak>
        <i data-lucide="wallet" class="w-5 h-5 flex-shrink-0"></i>
        <span class="flex-1 text-xs font-bold tracking-wide text-start">المدفوعات والموردين</span>
    </div>

    <div :class="sidebarOpen ? 'mt-1 mr-2 border-r-2 border-slate-200/80 space-y-0.5' : 'space-y-1'">
        {% include "components/nav_sub_item.html" with url="payments:list" icon="file-text" label="طلبات الدفع" path="/payments/" %}
        {% include "components/nav_sub_item.html" with url="suppliers:list" icon="truck" label="الموردين" path="/suppliers/" %}
    </div>
</div>
